.rotateDiv{    
    transform: rotate(90deg);
    padding: .5em;
    width: 700px;

    /* 
    随着DIV高度的增加导致旋转的中心变动，最终旋转后上边距会越来越大，
    要恢复则将下面的最小、最大高度取消，使用固定高度*/
    /* height: 300px;  */
    
    min-height: 300px;
    max-height: 600px;
    /* background-color: sandybrown; */

    transition: .3s all;  /* rotate gradually instead of instantly */
    margin-top: 200px;
    position: relative;
    right: 100px;
}

/* 表格列头背景色 */
.colHeaderBackColor{
    background-color: #f2f3f5;
}

/* 单据标题 */
.title{
    text-align: center;
    font-size: 2em;
}

.align-right{
    text-align: right;
}